
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 70px;
  }
 
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
 
  h3 {
    margin-top: 0;
    text-align: center;
    color: #333;
  }
  

  .account {
    text-align: center;
    margin-bottom: 20px;
  }
  
 
  .anchor {
    color: #E83544;
    text-decoration: none;
    cursor: pointer;
  }
  
  .anchor:hover {
    text-decoration: underline;
  }
  
 
  label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
  }
  
 
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
 
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #E83544;
    outline: none;
  }
  
  div[style*="font-size:12px;color:red;margin-bottom:6px;"] {
    font-size: 12px;
    color: red;
    margin-bottom: 6px;
  }
  

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #E83544;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
 
  button[type="submit"]:hover {
    background-color: #a6002b;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .home-link{
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  .forgot-password-link{
    color: #E83544;
    text-decoration: none;
    cursor: pointer;
  }

  .home-link .back-icon {
    margin-right: 5px;
    color: #E83544;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
  }
  .back-icon {
    font-size: 16px;
    color: #E83544;
  }