<app-navbar></app-navbar>
<div class="not-found-container">
    <div class="not-found-content">
        <img src="https://img.freepik.com/premium-vector/page-found-404-design-error-page-icon-vector-illustration-outline-filled-design-development-style-icon_7280-8554.jpg" alt="Not Found Icon" class="not-found-icon">
        <h1>We couldn't find your page</h1>
        <p>But we still have millions more shopping items for you to browse.</p>
        <a routerLink="/" class="keep-shopping-button">Keep shopping</a>
    </div>
</div>