.users-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the container */
  }
  
  .users-table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .users-table th, .users-table td {
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  .users-table th {
    background-color: #E83544;
    color: #fff;
  }
  
  .users-table td {
    text-align: center;
  }
  
  .delete-icon {
    color: #E83544;
    cursor: pointer;
  }
  
  .total-users {
    margin-top: 10px;
    font-weight: bold;
    text-align: center; /* Center the text */
  }  